[submodule "vendor/catppuccin-fuzzel"]
	path = vendor/catppuccin-fuzzel
	url = https://github.com/catppuccin/fuzzel
[submodule "vendor/catppuccin-delta"]
	path = vendor/catppuccin-delta
	url = https://github.com/catppuccin/delta
