[Unit]
Description=Back up tmux-resurrect pane contents every 6 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=6min
Unit=tmux-pane-backup.service

[Install]
WantedBy=timers.target

