[Unit]
Description=Monitor for Yubikey touch requests to show a prompt on screen
PartOf=graphical-session.target

[Service]
ExecStart=${WLR_ENV_PATH}/bin/util/yubikey-prompt
Restart=always
RestartSec=10

[Install]
WantedBy=xsession.target
