* {
	font-size: 18px;
	font-family: Fira Code Nerd;
}

window#waybar {
	background: #1e2030;  /* mantle */
	color: #cad3f5;  /* text */
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1e2030;  /* mantle */
    background: #363a4f;  /* surface0 */
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #363a4f;  /* surface0 */
	background: #1e2030;  /* mantle */
}

/*
#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#temperature,
#backlight,
#network,
#idle_inhibitor,
#disk
{
	background: #1e2030;
}
*/


#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio, #backlight {
	color: #7dc4e4;  /* sapphire */
}
#cpu, #memory, #disk, #battery {
	color: #a6da95;  /* green */
}
#temperature {
    color: #91d7e3 ; /* sky */
}
#cpu.warning, #memory.warning, #disk.warning, #battery.20, #battery.30, #battery.40 {
	color: #eed49f;  /* yellow */
}
#cpu.critical, #memory.critical, #temperature.critical, #disk.critical, #battery.0, #battery.10 {
    color: #ed8796;  /* red */
}


#custom-weather {
    padding-left: 0.25em;
}
#pulseaudio {
    padding-right: 0.5em;
}
#idle_inhibitor {
    padding: 0 0.5em;
}
#network {
    padding: 0 0.25em;
}
#cpu {
    padding-left: 0.5em;
}
#cpu, #memory, #temperature, #disk, #battery {
    padding-right: 0.75em;
}
#clock {
    padding: 0 0.5em;
}
